/* div {
  background-color: red;
} 

.loginbox * {
  background-color: aqua;
}

.errorbox {
  background-color: yellow;
  color: black;
}
*/
main {
  background-color: gray;
}

.main-contain {
  background-color: thistle;
}
